In [1]:
import sys
!{sys.executable} -m pip3 install pandas
!{sys.executable} -m pip3 install numpy
!{sys.executable} -m pip install matplotlib

c:\users\majid\appdata\local\programs\python\python37\python.exe: No module named pip3
c:\users\majid\appdata\local\programs\python\python37\python.exe: No module named pip3

Requirement already satisfied: matplotlib in c:\users\majid\appdata\local\programs\python\python37\lib\site-packages (3.3.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\majid\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\majid\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\majid\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.15 in c:\users\majid\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\majid\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\majid\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\majid\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six in c:\users\majid\appdata\roaming\python\python37\site-packages (from cycler>=0.10->matplotlib) (1.14.0)

WARNING: You are using pip version 20.2; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\majid\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas
import numpy as np
import matplotlib.pyplot as plt
import math
pandas.options.mode.chained_assignment = None

##### Read data

In [3]:
dataset3 = pandas.read_csv('train.csv')
dataset3.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

##### encode categorical data

In [10]:
## one-hot encoding
encoded_data = pandas.get_dummies(dataset3, columns = ['region'])
## integer encoding
encoded_data["gender"].replace({"female": 0, "male": 1}, inplace=True)
encoded_data["smoker"].replace({"no": 0, "yes": 1}, inplace=True)

encoded_data.head()

,age,gender,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0